<div style="min-height: 100vh;">
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"> 
        <div class="col-2"></div>
        <div class="col-3">
            <mat-form-field class="form-full-width">
              <input matInput [(ngModel)]="fromDate" name="fromDate" [matDatepicker]="picker1" (ngModelChange)="getVacations()" placeholder="From date" >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <mat-form-field class="form-full-width"> 
              <input matInput [(ngModel)]="toDate" name="toDate" [matDatepicker]="picker" (ngModelChange)="getVacations()" placeholder="To date" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-2"></div>
    </div> 
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="md-form">
            </div>
        </div>  
        <div class="col-md-4 mx-auto">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control black-text" id="search" mdbInput />
                <label for="search">Search</label>
             </div>
        </div>
    </div>
    <div class="mx-3">
        <table #tableEl="mdbTable" mdbTable id="roomTable" style="margin-bottom: 0px;" striped="true">
            <thead class="black white-text">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col" style="text-align: center;" aria-controls="roomTable" [mdbTableSort]="vacations" [sortBy]="headElementsModel[i]">
                     {{head}} <mdb-icon fas *ngIf="i < 6" icon="sort"></mdb-icon>
                    </th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vacation of vacations; let i = index" style="text-align: center;">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{vacation.vacationId}}</th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vacation.userUsername}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vacation.startDate | date: 'mediumDate'}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vacation.endDate | date: 'mediumDate'}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vacation.accepted}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{vacation.description}}</td> 
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <button mdbBtn color="succes" size="sm" mdbWavesEffect type="button" class="btn-success btn-sm btn" (click)="approveVacationModal(vacation)">Approve</button>
                        <button mdbBtn color="danger" size="sm" mdbWavesEffect type="button" class="btn-danger btn-sm btn" (click)="denyVacationModal(vacation)">Deny</button>
                    </td> 
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
                <tr>
                    <td colspan="7">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="vacations"></mdb-table-pagination>
                    </td>
                </tr>
            <tfoot>
        </table>  
    </div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>    
</div>

<!-- Approve vacation-->
<div mdbModal #approveModal="mdbModal"  class="modal fade top" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Approve vacation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="approveModal.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <form #createScheduleForm="ngForm" (ngSubmit)="createSchedule()">
            <!--Body-->
            <div class="modal-body"  >
                <label>Are you sure you want to approve vacation?</label>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbWavesEffect type="button" class="btn btn-success" (click)="approveVacation()">Yes</button>
                <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffec (click)="approveModal.hide()">No</a>            </div>
            </form>
        </div>
    </div>
</div>

<!-- Deny Vacation-->
<div mdbModal #denyModal="mdbModal"  class="modal fade top" id="denyModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">Deny vacation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="denyModal.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
            </button>
            </div>
            <!--Body-->
            <div class="modal-body"  >        
            <div class="md-form mt-0">
                <textarea mdbInput mdbValidate type="text" id="description" [(ngModel)]="description" required class="form-control md-textarea"></textarea>
                <label for="description">Description</label> 
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbWavesEffect type="submit" class="btn btn-danger" (click) = "denyVacation()" [disabled]="description == null">Deny</button>
            </div>
        </div>
    </div>
</div>