<div style="min-height: 100vh;">
    <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
      <button type="button" mdbBtn color="success" class="my-3" size="sm" mdbWavesEffect (click)="createMedicalStaffModal()">New</button>
      </div>
    </div>  
    <div class="col-md-4 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control black-text" id="search" mdbInput />
        <label for="search">Search by name, last name or username</label>
      </div>
    </div>
    </div>
    <div class="mx-3">
        <table #tableEl="mdbTable" mdbTable id="medicalStaffTable" style="margin-bottom: 0px;" striped="true">
            <thead class="black white-text">
              <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col" style="text-align: center;" aria-controls="medicalStaffTable" [mdbTableSort]="medicalStaff" [sortBy]="headElementsModel[i]">
                  {{head}} <mdb-icon fas *ngIf="i < 6" icon="sort"></mdb-icon>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of medicalStaff; let i = index" style="text-align: center;">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{user.userId}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.name}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.lastName}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.username}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.email}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{user.doctorGrade}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" style="width: 250px;">
                  <button mdbBtn color="danger" size="sm" mdbWavesEffect type="button" class="btn-danger btn-sm btn" >Delete</button>
                </td>
              </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
              <tr>
                <td colspan="7">
                  <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="medicalStaff"></mdb-table-pagination>
                </td>
              </tr>
            <tfoot>
        </table>      
    </div>
  </div>
